@charset "UTF-8";
@media (min-width: 1199px) {
  .skills__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .skills__container .hard_skills__container {
    margin-top: 0px;
    width: 50%;
    padding-left: 40px;
  }
  .skills__container .hard_skills__container .title {
    font-size: 80px;
  }
  .skills__container .hard_skills__container .abillitys {
    gap: 25px;
    justify-content: flex-start;
    cursor: pointer;
  }
  .skills__container .hard_skills__container .abillitys .abillity {
    max-width: 150px;
    transition: 0.5s;
  }
  .skills__container .hard_skills__container .abillitys .abillity:hover {
    transform: scale(1.1);
    border-color: #FFFFFF;
  }
  .skills__container .hard_skills__container .abillitys .title__abillity {
    font-size: 20px;
  }
  .skills__container .soft_skills__container {
    margin: 0;
    max-width: 489px;
    width: 100%;
  }
  .skills__container .soft_skills__container .title {
    font-size: 80px;
  }
}

.soft_skills__container {
  background: #1D2E5A;
  border-radius: 10px;
  padding: 28px;
  max-width: 400px;
  margin: 87px auto 0 auto;
}
.soft_skills__container .soft__skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}
.soft_skills__container .soft__skills li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.soft_skills__container .soft__skills li img {
  min-width: 33px;
}
.soft_skills__container .soft__skills li span {
  color: #FFF8F1;
  font-size: 17px;
}

.soft_skills__container,
.hard_skills__container {
  margin-top: 87px;
}
.soft_skills__container .title,
.hard_skills__container .title {
  margin: 10px 0;
}
.soft_skills__container .description__skill,
.hard_skills__container .description__skill {
  color: #BDBDBD;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.hard_skills__container .abillitys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hard_skills__container .abillitys .abillity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 125px;
  max-width: 150px;
  min-width: 150px;
  min-height: 125px;
  background: #2E3F6D;
  border-bottom: 5px solid #7182AF;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.hard_skills__container .abillitys .abillity .icon__abillity {
  color: #FFFFFF;
  font-size: 70px;
}
.hard_skills__container .abillitys .abillity .title__abillity {
  color: #FFFFFF;
  margin-top: 15px;
  font-family: "Poppins";
  font-weight: 200;
}

footer {
  background: linear-gradient(to bottom, #0F1C3F 40%, rgba(239, 153, 73, 0.6901960784));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 640px) {
  .container__contacts {
    padding: 0 20px;
    width: 100%;
  }
}
@media (min-width: 641px) {
  .container__contacts {
    max-width: 500px;
    width: 100%;
  }
}
@media (min-width: 1199px) {
  .container__contacts {
    max-width: 1200px;
    width: 100%;
  }
}
.container__contacts .contacts {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 130px;
}
.container__contacts .link__contact {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #FFF8F1;
  font-family: "Poppins";
  font-weight: 700;
}
.container__contacts .link__contact div {
  min-width: 50px;
  min-height: 50px;
  background: #FFF8F1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__description {
  margin-top: 60px;
  border-top: 1px solid #1D2E5A;
}
@media (min-width: 1199px) {
  .container__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
  }
  .container__description h2 {
    width: 50%;
    margin-top: 135px;
    font-size: 150px;
    line-height: 130px;
    text-transform: uppercase;
  }
  .container__description div {
    width: 50%;
    margin-top: 135px;
  }
}

.title {
  margin: 60px 0 25px 0;
  color: #FFF3E8;
  font-size: 45px;
  text-align: start;
  font-weight: 700;
  font-family: "Poppins";
}
.title span {
  color: #EC8D35;
}

.description-text {
  font-size: 16px;
  text-align: start;
  color: #FFF8F1;
  line-height: 24px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1199px) {
  .title {
    font-size: 45px;
    margin: 70px 0 30px 0;
  }
  .description-text {
    margin: 0 40px 15px 40px;
    line-height: normal;
    font-size: 18px;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header .header__container {
  background-color: #0F1C3F;
  border-bottom: 2px solid #3B82F6;
  padding: 15px 25px;
}
.header .header__container .menu__mobile {
  display: none;
}
@media (max-width: 640px) {
  .header .header__container .menu__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header .header__container .menu__mobile .header__menu {
  color: #EC8D35;
  font-size: 25px;
  cursor: pointer;
}
.header .header__container .menu__desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 640px) {
  .header .header__container .menu__desktop {
    display: none;
  }
}
.header .header__container .menu__desktop nav {
  display: flex;
  align-items: center;
  gap: 37px;
}
.header .header__container .menu__desktop nav a {
  text-decoration: none;
  color: #FFF8F1;
  text-transform: lowercase;
  font-size: 18px;
  position: relative;
}
.header .header__container .menu__desktop nav a:before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #EC8D35;
  transition: width 0.3s ease, left 0.3s ease; /* Adiciona transição para left */
  transform: translate(-50%, -50%); /* Move o ponto central para o centro do link */
}
.header .header__container .menu__desktop nav a:hover::before, .header .header__container .menu__desktop nav a.active::before {
  width: 100%;
}
.header .header__container .menu__desktop nav a:last-child {
  color: #EC8D35;
}
.header .header__container .header__title {
  font-size: 33px;
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
}
.header .header__container .header__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header .header__container .header__icons .icon__item {
  color: #EC8D35;
  font-size: 25px;
}
.header .header__nav-bar {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.507);
  position: absolute;
  top: 0;
  z-index: 9000;
}
.header .header__nav-bar .container__header-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  background: linear-gradient(to bottom, #3B82F6 5%, #102a72);
  height: 100vh;
  border-bottom: 5px solid #FFFFFF;
  z-index: 9001;
}
.header .header__nav-bar .container__header-nav #close__nav-bar {
  position: absolute;
  top: 15px;
  margin-left: 105%;
  font-size: 25px;
  color: #FFFFFF;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header .header__nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.header .header__nav-bar ul .nav-bar__item {
  color: #FFFFFF;
  padding: 15px 5px 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.205);
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: auto;
  grid-template-areas: "icon text";
  gap: 5px;
  align-items: center;
}
.header .header__nav-bar ul .nav-bar__item:last-child {
  border-bottom: none;
}
.header .header__nav-bar ul .nav-bar__item .icon__nav-bar {
  grid-area: icon;
  font-size: 20px;
}
.header .header__nav-bar ul .nav-bar__item .item__text {
  grid-area: text;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF8F1;
  font-family: "Poppins";
  letter-spacing: 1.6px;
  font-weight: 500;
}

@media screen and (min-width: 1199px) {
  .header .header__container {
    padding: 25px 40px;
  }
  .header .header__container .header__menu {
    font-size: 22px;
  }
  .header .header__container .header__title {
    font-size: 30px;
  }
  .header .header__container .header__icons .icon__item {
    font-size: 22px;
    transition: 0.5s;
  }
  .header .header__container .header__icons .icon__item:hover {
    color: #FFFFFF;
  }
  .header .header__nav-bar .container__header-nav {
    width: 400px;
  }
}
.container__map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__map .map {
  text-align: center;
  height: 20em;
  width: 90%;
  max-width: 650px;
  margin-bottom: 20px;
}

.container__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 344px;
}
@media (min-width: 1199px) {
  .container__presentation {
    max-width: 1200px;
    width: 100%;
  }
}
.container__presentation .presentation__imagem {
  flex: 1 0 100px;
  width: 70%;
  max-width: 320px;
  border-radius: 85px 29px 115px 45px;
}
@media (max-width: 640px) {
  .container__presentation .presentation__imagem {
    width: 100%;
  }
}
.container__presentation .presentation__text {
  margin: 30px 0 20px 0;
  text-align: center;
}
.container__presentation .presentation__text .presentation__text-title {
  color: #f0f0f0;
  font-weight: 600;
  font-size: 32px;
  font-family: "Poppins";
  text-align: start;
}
.container__presentation .presentation__text .presentation__text-title .name-strong {
  color: #EC8D35;
}
.container__presentation .presentation__text .presentation__text-title .fa-code {
  color: #EC8D35;
  font-size: 25px;
  display: none;
}
.container__presentation .presentation__text .presentation__text-phrase {
  font-size: 17px;
  font-weight: 600;
  color: rgba(173, 173, 173, 0.7294117647);
  line-height: 25px;
  margin-top: 15px;
  text-align: start;
  font-family: "Poppins";
}
.container__presentation .button-contact {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  text-decoration: none;
  text-align: center;
  background: #EC8D35;
  color: #FFF8F1;
  max-width: 350px;
  padding: 20px 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  align-self: start;
  text-transform: uppercase;
}
.container__presentation .button-contact::after {
  content: url("./../../img/icon-tel.svg");
  margin-left: 15px;
}

@keyframes scaleButton {
  to {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 1199px) {
  .container__presentation {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    grid-template-areas: "frase foto" "botao foto";
    margin: 30px 0 70px 0;
  }
  .container__presentation .presentation__imagem {
    grid-area: foto;
    justify-self: end;
    min-width: 260px;
    transition: 1s;
  }
  .container__presentation .presentation__imagem:hover {
    transform: scale(1.05);
  }
  .container__presentation .presentation__text {
    grid-area: frase;
    align-self: end;
    justify-self: start;
    margin: 15px 0;
  }
  .container__presentation .presentation__text .presentation__text-title {
    font-size: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .container__presentation .presentation__text .presentation__text-title .fa-code {
    display: inline;
  }
  .container__presentation .presentation__text .presentation__text-phrase {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  .container__presentation .button-contact {
    grid-area: botao;
    font-size: 22px;
    padding: 15px;
    width: 360px;
    justify-content: center;
    height: 70px;
    cursor: pointer;
    max-width: none;
  }
}
@media (min-width: 1199px) {
  .projects__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 80px;
  }
  .projects__container .projects {
    margin-left: 45px;
    width: 50%;
    align-items: flex-start !important;
  }
  .projects__container .title.title-mobile-tablet {
    display: none;
  }
  .projects__container .title.title-desktop {
    display: block !important;
    width: 50%;
    margin-top: 0;
    font-size: 150px;
    line-height: 130px;
    text-transform: uppercase;
  }
}
@media (min-width: 641px) {
  .projects__container .title.title-desktop {
    display: none;
  }
}
@media (max-width: 640px) {
  .projects__container .title.title-desktop {
    display: none;
  }
}
.projects__container .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.projects__container .projects .projects-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects__container .projects .projects-content .all__projects-btn {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  text-decoration: none;
  text-align: center;
  background: #EC8D35;
  color: #FFF8F1;
  max-width: 350px;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 40px;
}
.projects__container .projects .projects-content .all__projects-btn::after {
  content: url("../../img/projetos.svg");
  margin-left: 17px;
}
.projects__container .container__previa {
  width: auto;
  max-width: 400px;
  background: #7182AF;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  margin-top: 7px;
}
.projects__container .container__previa .title__previa-project {
  font-size: 32px;
  color: #FFF3E8;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 0.32px;
}
.projects__container .container__previa .title__previa-project span {
  color: #EC8D35;
}
.projects__container .container__previa .paragraph__previa-project {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFF8F1;
  padding: 20px 0;
}
.projects__container .container__previa .paragraph__previa-project span {
  font-style: italic;
}
.projects__container .container__previa .link__previa-project {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #FFF8F1;
  text-transform: uppercase;
  max-width: 145px;
  background: #0F1C3F;
  text-align: center;
  padding: 20px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.container__btn-top {
  position: fixed;
  bottom: 35px;
  right: 20px;
}
.container__btn-top #btn-top {
  background: transparent;
  border: none;
  display: none;
}
.container__btn-top #btn-top .fa-angle-up {
  color: #FFFFFF;
  font-size: 30px;
  padding: 8px;
  background: #EC8D35;
  border-radius: 50%;
  cursor: pointer;
}

.abrirMenu {
  animation-name: abrirMenu;
  animation-duration: 0.6s;
}

@keyframes abrirMenu {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.fecharMenu {
  animation-name: fecharMenu;
  animation-duration: 0.6s;
}

@keyframes fecharMenu {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #0F1C3F;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans";
  box-sizing: border-box;
  padding-top: 100px;
}

main {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-main {
  max-width: 500px;
}
@media (min-width: 1199px) {
  .content-main {
    max-width: 1200px;
  }
}

.container {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.active {
  display: block;
}

.disable {
  display: none;
}

.js-scroll {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(-30px, 0, 0);
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media screen and (min-width: 1199px) {
  main {
    margin: 0 70px;
  }
}
@media screen and (min-width: 1500px) {
  main {
    margin: 0 150px;
  }
}

/*# sourceMappingURL=style.css.map */
