$media-mobile: "(max-width: 640px)";
$branco: #FFFFFF;
$branco-escuro: #f0f0f0;
$laranja: #ec8d35;
$preto: #000000;
$azul-escuro: #0F1C3F;
$azul-claro: #3B82F6;
$azul: #4169E1;
$cinza-escuro: #7e7e7e;
$cinza-claro: #41485B;
$cinza-texto: #c5c5c5;
$fonte-texto: 'Open Sans';
$gradiente-botao: linear-gradient(to right, #3B82F6 55%, #102a72);
$gradiente-navbar: linear-gradient(to bottom, #3B82F6 5%, #102a72);

//PARTES DA HOME
@import './divisao__home/abillitys.scss';
@import './divisao__home/contact.scss';
@import './divisao__home/description.scss';
@import './divisao__home/header.scss';
@import './divisao__home/map.scss';
@import './divisao__home/presentation.scss';
@import './divisao__home/projects.scss';
@import './divisao__home/btn-top.scss';

//ANIMAÇÕES
@import './animacoes/animacoes.scss';


*{
    box-sizing: border-box;
}
body{
    background-color: $azul-escuro;
    font-size: 16px;
    font-weight: 400;
    font-family: $fonte-texto;
    box-sizing: border-box;
    padding-top: 100px;
}

main{
    margin: 0 20px;
}

.container{
    margin: 0 auto;
    height: 100vh;
}

.active{
    display: block;
}

.disable{
    display: none;
}

.js-scroll {
    opacity: 0;
    transition: 0.5s;
    transform: translate3d(-30px, 0, 0);
}
.js-scroll.ativo{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


@media screen and (min-width: 1025px){
    main{
        margin: 0 70px;
    }
}

@media screen and (min-width: 1500px){
    main{
        margin: 0 150px;
    }
}