$media-mobile: "(max-width: 640px)";
$media-tablet: "(max-width: 1199px)";

$branco: #FFFFFF;
$branco-2: #FFF8F1;
$branco-titulo: #FFF3E8;
$branco-escuro: #f0f0f0;
$laranja: #EC8D35;
$preto: #000000;
$azul-escuro: #0F1C3F;
$azul-escuro-2: #1D2E5A;
$azul-claro: #3B82F6;
$azul-claro-2: #2E3F6D;
$azul-claro-3: #7182AF;
$azul: #4169E1;
$cinza-escuro: #7e7e7e;
$cinza-claro: #adadadba;
$cinza-claro-2: #BDBDBD;
$cinza-texto: #c5c5c5;
$gradiente-footer: linear-gradient(to bottom, #0F1C3F 40%, #ef9949b0);
$gradiente-navbar: linear-gradient(to bottom, #3B82F6 5%, #102a72);
$fonte-texto: 'Open Sans';
$fonte-titulos: 'Poppins';

$f-extra-light: 200;
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semi-bold: 600;
$f-bold: 700;


//PARTES DA HOME
@import './divisao__home/abillitys.scss';
@import './divisao__home/contact.scss';
@import './divisao__home/description.scss';
@import './divisao__home/header.scss';
@import './divisao__home/map.scss';
@import './divisao__home/presentation.scss';
@import './divisao__home/projects.scss';
@import './divisao__home/btn-top.scss';

//ANIMAÇÕES
@import './animacoes/animacoes.scss';


*{
    box-sizing: border-box;
}
body{
    background-color: $azul-escuro;
    font-size: 16px;
    font-weight: 400;
    font-family: $fonte-texto;
    box-sizing: border-box;
    padding-top: 100px;
}

main{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-main {
    max-width: 500px;
}

.container{
    margin: 0 auto;
    height: 100vh;
}

.active{
    display: block;
}

.disable{
    display: none;
}

.js-scroll {
    opacity: 0;
    transition: 0.5s;
    transform: translate3d(-30px, 0, 0);
}
.js-scroll.ativo{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


@media screen and (min-width: 1025px){
    main{
        margin: 0 70px;
    }
}

@media screen and (min-width: 1500px){
    main{
        margin: 0 150px;
    }
}