@use '../variables.scss' as vars;

.container__btn-top{
    position: fixed;
    bottom: 35px;
    right: 20px;

    #btn-top{
        background: transparent;
        border: none;
        display: none;

        .fa-angle-up{
            color: vars.$branco;
            font-size: 30px;
            padding: 8px;
            background: vars.$laranja;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}