footer {
    background: $gradiente-footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container__contacts {
    @media #{$media-mobile} {
        padding: 0 20px;
        width: 100%;
    }

    @media #{$media-tablet} {
        max-width: 500px;
        width: 100%;
    }

    .contacts {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding-bottom: 130px;
    }
    
    .link__contact {
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        color: $branco-2;
        font-family: $fonte-titulos;
        font-weight: $f-bold;

        div {
            min-width: 50px;
            min-height: 50px;
            background: $branco-2;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}


