@use '../variables.scss' as vars;

footer {
    background: vars.$gradiente-footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container__contacts {
    @media #{vars.$media-mobile} {
        padding: 0 20px;
        width: 100%;
    }

    @media #{vars.$media-tablet} {
        max-width: 500px;
        width: 100%;
    }

    @media #{vars.$media-desktop} {
        max-width: 1200px;
        width: 100%;
    }

    .contacts {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding-bottom: 130px;
    }
    
    .link__contact {
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        color: vars.$branco-2;
        font-family: vars.$fonte-titulos;
        font-weight: vars.$f-bold;

        div {
            min-width: 50px;
            min-height: 50px;
            background: vars.$branco-2;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}


