@use '../variables.scss' as vars;

.container__description {
    margin-top: 60px;
    border-top: 1px solid vars.$azul-escuro-2;

    @media #{vars.$media-desktop} {
        display: flex;
        justify-content: space-between;
        margin-bottom: 130px;

        h2 {
            width: 50%;
            margin-top: 135px;
            font-size: 150px;
            line-height: 130px;
            text-transform: uppercase;
        }

        div {
            width: 50%;
            margin-top: 135px;
        }
    }
}

.title {
    margin: 60px 0 25px 0;
    color: vars.$branco-titulo;
    font-size: 45px;
    text-align: start;
    font-weight: vars.$f-bold;
    font-family: vars.$fonte-titulos;

    span {
        color: vars.$laranja;
    }
}

.description-text {
    font-size: 16px;
    text-align: start;
    color: vars.$branco-2;
    line-height: 24px;
    margin-bottom: 15px;
}

@media screen and (min-width: 1199px) {
    .title{
        font-size: 45px;
        margin: 70px 0 30px 0;
    }

    .description-text{
        margin: 0 40px 15px 40px;
        line-height: normal;
        font-size: 18px;
    }
}