//CORES
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .header__container {
        background-color: $azul-escuro;
        border-bottom: 2px solid $azul-claro;
        padding: 15px 25px;
        
        .menu__mobile {
            display: none;
    
            @media #{$media-mobile} {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
                .header__menu {
                    color: $laranja;
                    font-size: 25px;
                    cursor: pointer;
                }
        }
        
        .menu__desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;

            @media #{$media-mobile} {
                display: none;
            }

            nav {
                display: flex;
                align-items: center;
                gap: 37px;

                a {
                    text-decoration: none;
                    color: $branco-2;
                    text-transform: lowercase;
                    font-size: 18px;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        position: absolute;
                        bottom: -7px;
                        left: 50%;
                        width: 0;
                        height: 2px;
                        background-color: $laranja;
                        transition: width 0.3s ease, left 0.3s ease; /* Adiciona transição para left */
                        transform: translate(-50%, -50%); /* Move o ponto central para o centro do link */
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }

                    &:last-child {
                        color: $laranja;
                    }
                }
            }
        }

        .header__title{
            font-size: 33px;
            color: $branco;
            font-weight: 500;
            text-decoration: none;
        }
        
        .header__icons{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .icon__item{
                color: $laranja;
                font-size: 25px;
            }
        }
    }

    .header__nav-bar{
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.507);
        position: absolute;
        top: 0;
        z-index: 9000;

        .container__header-nav{
            position: fixed;
            left: 0;
            top: 0;
            width: 70%;
            background: $gradiente-navbar;
            height: 100vh;
            border-bottom: 5px solid $branco;
            z-index: 9001;

            #close__nav-bar{
                position: absolute;
                top: 15px;
                margin-left: 105% ;
                font-size: 25px;
                color: $branco;
                background: transparent;
                border: none;
                cursor: pointer;
            }
        }

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;

            .nav-bar__item {
                color: $branco;
                padding: 15px 5px 15px 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.205);
                display: grid;
                grid-template-columns: 20% 70%;
                grid-template-rows: auto;
                grid-template-areas: "icon text";
                gap: 5px;
                align-items: center;

                &:last-child {
                    border-bottom: none;
                }

                .icon__nav-bar {
                    grid-area: icon;
                    font-size: 20px;
                }

                .item__text {
                    grid-area: text;
                    font-size: 16px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $branco-2;
                    font-family: $fonte-titulos;
                    letter-spacing: 1.6px;
                    font-weight: $f-medium;
                }
            }
        }
    }
}


@media screen and (min-width: 1025px){
    .header{
        .header__container{
            padding: 25px 40px;

            .header__menu{
                font-size: 22px;
            }
        
            .header__title{
                font-size: 30px;
            }

            .header__icons{
                .icon__item{
                    font-size: 22px;
                    transition: 0.5s;
                }
            
                .icon__item:hover{
                    color: $branco;
                }
            }
        }
        .header__nav-bar{
            .container__header-nav{
                width: 400px;
            }
        }
    }
}