@use '../variables.scss' as vars;

.projects__container{
    @media #{vars.$media-desktop} {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 130px;
        margin-bottom: 80px;

        .projects {
            margin-left: 45px;
            width: 50%;
            align-items: flex-start !important;
        }

        .title {
            &.title-mobile-tablet {
                display: none;
            }

            &.title-desktop {
                display: block !important;
                width: 50%;
                margin-top: 0;
                font-size: 150px;
                line-height: 130px;
                text-transform: uppercase;
            }
        }
    }

    @media #{vars.$media-tablet} {
        .title {
            &.title-desktop {
                display: none;
            }
        }
    }

    @media #{vars.$media-mobile} {
        .title {
            &.title-desktop {
                display: none;
            }
        }
    }

    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

        .projects-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .all__projects-btn {
                display: flex;
                align-items: center;
                font-family: "Open Sans";
                text-decoration: none;
                text-align: center;
                background: #EC8D35;
                color: #FFF8F1;
                max-width: 350px;
                padding: 20px;
                border-radius: 5px;
                font-size: 18px;
                cursor: pointer;
                text-transform: uppercase;
                margin-top: 40px;
    
                &::after {
                    content: url("../../img/projetos.svg");
                    margin-left: 17px;
                }
            }
        }
     }

     .container__previa {
        width: auto;
        max-width: 400px;
        background: vars.$azul-claro-3;
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 10px;
        margin-top: 7px;

        .title__previa-project{
            font-size: 32px;
            color: vars.$branco-titulo;
            font-family: vars.$fonte-titulos;
            font-weight: vars.$f-bold;
            letter-spacing: 0.32px;

            span {
                color: vars.$laranja;
            }
        }
        .paragraph__previa-project{
            font-size: 16px;
            line-height: 24px;
            font-weight: vars.$f-regular;
            color: vars.$branco-2;
            padding: 20px 0;

            span {
                font-style: italic;
            }

        }
        .link__previa-project{
            font-size: 18px;
            font-weight: vars.$f-semi-bold;
            text-decoration: none;
            color: vars.$branco-2;
            text-transform: uppercase;
            max-width: 145px;
            background: vars.$azul-escuro;
            text-align: center;
            padding: 20px 10px;
            border-radius: 5px;
            margin-top: 20px;
        }
     }


}