.projects__container{
    .projects{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
     }
     .container__previa{
        width: auto;
        max-width: 450px;
        border: var(--azul) 1.5px solid;
        display: flex;
        flex-direction: column;
        padding: 30px;

        .title__previa-project{
            font-size: 35px;
            color: var(--laranja);
        }
        .paragraph__previa-project{
            font-size: 25px;
            font-weight: 300;
            color: var(--cinza-texto);
            padding: 20px 0;
        }
        .link__previa-project{
            font-size: 30px;
            text-decoration: none;
            color: var(--azul);
        }
     }


}