:root{
    --branco: #FFFFFF;
    --branco-escuro: #f0f0f0;
    --laranja: #ec8d35;
    --preto: #000000;
    --azul-escuro: #0F1C3F;
    --azul-claro: #3B82F6;
    --azul: #4169E1;
    --cinza-escuro: #7e7e7e;
    --cinza-claro: #41485B;
    --cinza-texto: #c5c5c5;
    --fonte-texto: 'Teko';
    --gradiente-botao: linear-gradient(to right, #3B82F6 55%, #102a72);
    --gradiente-navbar: linear-gradient(to bottom, #3B82F6 5%, #102a72);
}